server {
  # if ($host !~* ^www\.) {
  #   rewrite ^(.*)$ http://www.zmbush.com$1 permanent;
  # }
  listen 80;

  server_name zmbush.com www.zmbush.com;

  access_log /var/log/nginx/zmbush.access.log;

  error_page 404 /404/;
  error_page 500 502 503 504 = /server_error/;

  location / {
    root /home/user/zmbush.com/www/_site;
    index index.html;
  }

  location /cli/ {
    proxy_pass http://0.0.0.0:42001/;
  }
}
